@model IEnumerable<DigitalTrainer.Models.Batidos>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4" style="color:#FCFCFC">Batidos</h1>

<p>
    <a asp-action="Create" style="color:#FCFCFC">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Ingredientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredientes)
               
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<div class="main-content" style="max-width: 1200px; font-size: 1.2rem; margin: 0 auto;">
    <!-- Aquí va tu contenido -->
</div>
