@model IEnumerable<DigitalTrainer.Models.MiRutina>

@{
    Layout = "~/Views/Shared/_LayoutZacson.cshtml";
    ViewData["Title"] = "Mi Rutina";
}

<div class="main-content" style="max-width: 1200px; font-size: 1.2rem; margin: 0 auto;">

<h1 class="text-center my-4" style="color:#FCFCFC">Mi Rutina</h1>

<p>
     <a asp-action="Create" style="font-size:20px;">Agregar nueva rutina</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th style="font-size:20px; color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Id)
            </th>
                <th style="font-size:20px; color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Musculo)
            </th>
                <th style="font-size:20px; color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Ejercicio)
            </th>
                <th style="font-size:20px; color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Series)
            </th>
                <th style="font-size:20px; color:#FCFCFC">
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="font-size:20px; color:#FCFCFC">
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
                    <td style="font-size:20px; color:#FCFCFC">
                @Html.DisplayFor(modelItem => item.Musculo)
            </td>
                    <td style="font-size:20px; color:#FCFCFC">
                @Html.DisplayFor(modelItem => item.Ejercicio)
            </td>
                    <td style="font-size:20px; color:#FCFCFC">
                @Html.DisplayFor(modelItem => item.Series)
            </td>
                    <td style="font-size:20px; color:#FCFCFC">
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
                    <td style="font-size:20px; color:#FCFCFC">
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id})
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>

</div>
